.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh; /* Centre le formulaire verticalement */
}

.login-card {
  background: linear-gradient(180deg, #8ba889 0%, #4a5c48 100%); /* Dégradé vert */
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
  color: white;
}

.login-card h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.form-group {
  text-align: left;
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box; /* Évite que l'input dépasse */
}

.signup-link {
  margin-top: 20px;
  font-size: 0.9rem;
}

.signup-link a {
  color: white;
  display: block;
  margin-top: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.btn-login {
  background-color: #a3c193; /* Vert clair du bouton */
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.2s;
}

.btn-login:hover {
  transform: scale(1.05);
}